<h3>Update Article</h3>

<%= form_with model: @article, url: user_article_path do |form| %>
	<div>
		<%= form.label :title %><br>
		<%= form.text_field :title %>
	</div>

	<div>
		<%= form.label :body %><br>
		<%= form.text_area :body %><br>
	</div>

	<div>
		<%= form.submit "update" %>
	</div>
<% end %>

