<h2> Creating new article </h2>

<%= form_with model: @article, url: user_articles_path do |form| %>
	<div>
		<%= form.label :title %><br>
		<%= form.text_field :title %>
	</div>

	<div>
		<%= form.label :body %><br>
		<%= form.text_area :body %><br>
	</div

	<div>
		<%= form.submit %>
	</div>
<% end %>

